@import "variables";

@mixin button($color: green){
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(#000, .7);

  span {
    font-size: 18px;
  }

  &:active, &.active{
    color: $color;
  }

  &:hover{
    background-color: #eee;
    cursor: pointer;
  }

}

@mixin position-flex($flex: true){
  @if $flex {
    display: flex;
  }
  @extend %position-flex
}

%position-flex{
  position: absolute;
  right:0;
  left: 0;
}

@mixin position-resize(){
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: $primary_color;
  }